html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2d9bea;
  color: #ea0d0d;
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

p {
  font-size: 24px; 
  margin-bottom: 20px; 
}

button {
  background-color: #008CBA; 
  color: rgb(31, 26, 26);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s, transform 0.1s;
}